* {
  box-sizing: border-box;
}
/* utility designs */
.initial-padding {
  padding: 7rem 5rem;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.header {
  background-color: white;
  padding: 2rem 5rem 3rem;
}
.nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #561d5e;
  font-weight: 500;
  background-color: white;
}
.nav-link .brand {
  display: inline;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "lato", sans-serif;
}
.nav-link .brand,
.nav-link .links .link a {
  text-decoration: none;
  color: #561d5e;
}
.nav-link .links {
  display: flex;
}
.nav-link .links .link {
  list-style: none;
  margin: 0 1rem;
}
.nav-link .links .link:last-of-type a {
  background-color: #561d5e;
  color: white;
  padding: 0.813rem 2.188rem;
  border-radius: 6.438rem;
}
.hamburger-link {
  display: none;
  width: 2.125rem;
  text-decoration: none;
}
.hero-section {
  display: flex;
  margin-top: 4rem;
}
.write-up {
  width: 40%;
}
.write-up h1 {
  font-size: 4rem;
  font-family: "lato", sans-serif;
  font-weight: 700;
  margin-bottom: 0;
  width: 29.9rem;
}
.write-up p {
  width: 33rem;
  font-size: 2.15rem;
  color: #561d5e;
}

.cta {
  background-color: #561d5e;
  padding: 1.563rem 3.688rem;
  border-radius: 12.739rem;
  color: white;
  font-size: 1.979rem;
  text-decoration: none;
  display: inline-block;
}
.illustrator {
  width: 60%;
}
.illustrator img {
  width: 100%;
}

/* what we do section */
.what-we-do {
  background-image: url("./../images/BG\ IMAGE.svg");
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
}
.what-we-do h2 {
  color: #000;
  font-family: "lato", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  margin-top: 0;
}
.card-section {
  display: flex;
  justify-content: space-between;
}
.card {
  width: 30%;
  background-color: white;
  border-radius: 0.938rem;
  text-align: center;
  padding: 3rem 2rem;
  box-shadow: 0px 0px 6.94444px 2.77778px rgba(0, 0, 0, 0.1);
}
.card > img {
  height: 8.063rem;
  width: 100%;
  display: inline-block;
  margin: auto;
}
.card h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #561d5e;
}
.card a {
  text-decoration: none;
  color: #561d5e;
  display: inline-block;
  margin-top: 1.2rem;
}
.card a img {
  display: inline-block;
  margin-left: 1rem;
  vertical-align: middle;
}

/* trending section */
.trending {
  background: #fff;
}
.trend-card {
  padding: 0;
}
.trend-card .trend-img {
  width: 100%;
}
.trend-card .trend-img img {
  width: 100%;
}
.trend-write-up {
  padding: 0 2rem 2rem;
}
/* footer section */
.footer {
  background-color: #561d5e;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
}
.footer .brand {
  font-size: 5rem;
  font-family: "lato", sans-serif;
}

.footer .footer-link {
  background-color: #561d5e;
  display: flex;
  width: 43.94rem;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.footer .footer-link li {
  list-style: none;
  font-size: 2.25rem;
  line-height: 42.19px;
}
.footer a {
  text-decoration: none;
  color: #fff;
}
.icons {
  width: 15.75rem;
  display: flex;
  justify-content: space-between;
}
.icons a img {
  display: inline-block;
}
.location {
  display: flex;
  font-size: 2.25rem;
}
.footer > p {
  font-size: 1.5rem;
}

/* THE ABOUT PAGE STYLING */
.header-about .nav-link,
.header-contact .nav-link {
  padding: 2rem 5rem 1rem;
}
.about-hero-section {
  background: url(./../images/bg\ image\ for\ hero.svg);
  width: 100%;
  height: 39.69rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-write-up,
.contact-write-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.about-write-up h1,
.contact-write-up h1 {
  font-size: 4rem;
  font-family: "lato", sans-serif;
  font-weight: 700;
  color: #561d5e;
  margin-bottom: 0;
}
.about-write-up p,
.contact-write-up p {
  width: 80%;
  line-height: 19px;
  margin-bottom: 2rem;
}
.about-write-up h1,
.about-write-up p,
.contact-write-up h1,
.contact-write-up p {
  text-align: center;
}

/* CONTACT PAGE STYLING */
.contact-hero-section {
  background: url(./../images/bg\ image\ for\ hero\ contact.svg);
  width: 100%;
  height: 39.69rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-form {
  background: url("./../images/BG\ IMAGE.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.contact-writeup {
  width: 50%;
  text-align: center;
  padding: 0 1rem;
}
.contact-writeup h3 {
  font-size: 3rem;
  font-weight: 700;
  font-family: "lato", sans-serif;
}
.contact-writeup p {
  font-size: 1.5rem;
}
.contact-writeup .icons {
  margin: auto;
}
.contact-writeup .location {
  color: #561d5e;
  font-weight: 500;
  justify-content: center;
}
.form {
  width: 50%;
}
.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form .form-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  width: 100%;
}
.form .form-element label {
  font-size: 1.125rem;
  text-indent: 0.5rem;
}
.form .form-element input,
.form .form-element textarea {
  border-radius: 10px;
  padding: 1.125rem 0.69rem;
  background-color: transparent;
}
.form .form-element textarea {
  resize: none;
}

.form form a {
  border-radius: 6.44rem;
  background-color: #561d5e;
  color: white;
  text-decoration: none;
  padding: 13px 50px;
  display: inline-block;
  margin: 2.125rem 0;
}
.form .form-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.form .form-wrapper .form-element {
  width: 49%;
}

/* MEDIA QUERY SECTION */

@media screen and (max-width: 1332px) {
  .write-up {
    width: 50%;
  }
  .illustrator {
    width: 50%;
  }
  .about-write-up,
  .contact-write-up {
    width: 100%;
  }
}
@media screen and (max-width: 1115px) {
  .write-up h1 {
    margin-top: 0;
  }
}
@media screen and (max-width: 1098px) {
  .write-up h1 {
    font-size: 3.5rem;
    width: 26rem;
  }
  .write-up p {
    width: 30rem;
    font-size: 2rem;
  }
}
@media screen and (max-width: 1041px) {
  .write-up p {
    width: 30rem;
    font-size: 1.7rem;
  }
  .about-write-up,
  .contact-write-up {
    width: 60%;
  }
}
@media screen and (max-width: 955px) {
  /* utility designs */
  .initial-padding {
    padding: 3rem 3rem;
  }
  .write-up h1 {
    font-size: 3.35rem;
    width: 25rem;
  }
}
@media screen and (max-width: 938px) {
  .nav-link .links {
    display: none;
  }
  .hamburger-link {
    display: unset;
  }
  .hero-section {
    flex-direction: column-reverse;
    align-items: center;
  }
  .write-up {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .write-up h1 {
    width: 100%;
  }
  .write-up p {
    width: 100%;
  }
  .illustrator {
    width: 100%;
  }

  /* what we do section */
  .card-section {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 70%;
    margin-bottom: 2rem;
  }
  .footer .footer-link {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 15rem;
    width: 100%;
    margin: 1rem 0;
  }
  .about-write-up,
  .contact-write-up {
    width: 80%;
  }
  .about-hero-section {
    background: url(./../images/bg\ image\ for\ hero\ -\ about.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contact-hero-section {
    background: url(./../images/bg\ image\ for\ hero-android-contact\ .svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contact-form {
    flex-direction: column;
  }
  .contact-writeup {
    width: 100%;
  }
  .form {
    width: 100%;
  }
}
@media screen and (max-width: 606px) {
  /* what we do section */
  .card {
    width: 80%;
  }
  .about-write-up,
  .contact-write-up {
    width: 100%;
  }
}
@media screen and (max-width: 559px) {
  .header {
    padding: 2rem 3rem 3rem;
  }
  .write-up h1 {
    font-size: 3rem;
    width: 100%;
  }
  .write-up p {
    font-size: 1.5rem;
  }
  .what-we-do h2 {
    font-size: 3rem;
  }
  /* what we do section */
  .card {
    width: 100%;
  }
  /* footer section */
  .footer {
    padding: 2rem;
  }
  .about-write-up h1,
  .contact-write-up h1 {
    font-size: 3rem;
  }
  .header-about .nav-link,
  .header-contact .nav-link {
    padding: 2rem 3rem 1rem;
  }
}
@media screen and (max-width: 473px) {
  .header {
    padding: 2rem 2rem 3rem;
  }
  /* what we do section */
  .card {
    width: 100%;
  }
  .about-write-up h1,
  .contact-write-up h1 {
    font-size: 2.5rem;
  }
  .form .form-wrapper {
    flex-direction: column;
  }
  .form .form-wrapper .form-element {
    width: 100%;
  }
  .contact-form.initial-padding {
    padding: 2rem 1rem;
  }
}
@media screen and (max-width: 360px) {
  .cta {
    padding: 1rem 2rem;
  }
  .what-we-do h2 {
    font-size: 2rem;
  }
  .footer .brand {
    font-size: 3rem;
  }
  .footer .footer-link li {
    font-size: 1.5rem;
  }
  .location {
    font-size: 1.3rem;
  }
  .footer > p {
    font-size: 1.2rem;
  }
  .header-about .nav-link,
  .header-contact .nav-link {
    padding: 2rem 2rem 1rem;
  }
}
@media screen and (max-width: 305px) {
  .header {
    padding: 2rem 1rem 3rem;
  }
  /* utility designs */
  .initial-padding {
    padding: 2rem 1rem;
  }
  .header-about .nav-link,
  .header-contact .nav-link {
    padding: 2rem 1rem 1rem;
  }
  .contact-writeup {
    padding: unset;
  }
}
